@@charset "utf-8";
/*header*/
div.utilWrap{border-bottom: 1px solid #ccc;margin-bottom: 10px;}
div.util{width: 980px;margin: 0 auto;background-color:skyblue;}
ul.utilMenu{margin-left: auto;width: 280px;}
ul.utilMenu li{float:left;position: relative;}
ul.utilMenu li:after{
	content:"";display: block;width: 1px;height: 10px;
	background-color: #f00;position: absolute;right: 0;top:10px;
}
ul.utilMenu li:first-child:before{
	content:"";display: block;width: 1px;height: 10px;
	background-color: #00f;position: absolute;left: 0;top:10px;
}
/*ul.utilMenu li:last-child:after{content:"";display: none;}*/
ul.utilMenu li a{display: block;padding:0 10px;line-height: 30px;}
#header h1{text-align: center;_background-color:pink;margin-bottom: 15px;}
div.gnbWrap{background-color: #1d5da4;}
nav.gnbMenu{width: 980px;margin: 0 auto;}
nav.gnbMenu li{
	float: left;width: 163.333px;box-sizing: border-box;
	border-right: 1px solid #fff;
}
nav.gnbMenu li:first-child{border-left: 1px solid #fff;}
nav.gnbMenu li a{
	display: block;line-height:45px;text-align: center;
	color:white;font-weight:bold;}
/*nav.gnbMenu li a:hover{background-color:skyblue;color:#1d5da4;}*/
nav.gnbMenu li:hover{background-color:skyblue;color:red;}
nav.gnbMenu li:hover a{color:#1d5da4;}

/*visual Wrap*/
.visualWrap{
	height: 400px;
	height: 400px;overflow:hidden;
	/*background-color: #223a6a; 
	background-image: url(../images/main_bg01.jpg); 
	background-repeat: no-repeat;
	background-position: center;*/
	background: #223a6a url(../images/main_bg01.jpg) no-repeat center;
}
.visualWrap .visual{
	width: 980px;margin: 0 auto;
	position: relative; /*img child poa*/
}
.visual img.visualImg1{position: absolute;left: 10px;top:70px;}
.visual img.visualImg2{position: absolute;right:-50px;top:-10px;} 
.visual img.visualImg2{position: absolute;right:-50px;top:-10px;}


/*banner section*/
.section{background: #eee;}
ul.banner{
	width: 980px;margin: 0 auto;
}
ul.banner li{float: left; width: 196px;}
ul.banner li:nth-child(1){background: #7c99b9;}
ul.banner li:nth-child(2){background: #4f74a1;}
ul.banner li:nth-child(3){background: #4b8ce0;}
ul.banner li:nth-child(4){background: #3db5f2;}
ul.banner li:nth-child(5){background: #95c8ff;}
ul.banner a{display: block;height:196px;text-align: center
	;padding: 17px;	;color: #fff; }
ul.banner p{font-size: 12px;}
ul.banner img{}
/*content section #1st*/
.contwrapone{width: 980px;margin: 0 auto;}
.content li{float: left;width: 310px; margin-right: 25px;cursor: pointer;}
/*(guter)25px*2=50
(w)980-50=930/3*/
.content li:last-child{margin-right: 0;}
.content div.body{
	border: 1px solid #ccc;
	border-top:0 none;
/*	border-right:0 none;
	border-bottom:0 none;
*/
}

.content div.body p{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: justify;
}
/*margin bottom*/
.mb5{margin-bottom: 5px !important;}
.mb10{margin-bottom: 10px !important;}
.mb15{margin-bottom: 15px !important;}
.mb20{margin-bottom: 20px !important;}
.mb30{margin-bottom: 30px !important;}

/*padding all*/
.pt5{padding: 10px !important;}
.pa10{padding: 10px !important;}
.pa15{padding: 15px !important;}
.pa20{padding: 20px !important;}
/*padding top*/
.pt10{padding-top: 10px !important;}
.pt15{padding-top: 15px !important;}
.pt20{padding-top: 20px !important;}